<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="shortcut icon" type="image/png" href="img/icon2.png" />

  <title>View Group Info</title>
  <!-- <script src="/cdn/view_model/groupPage.js" ></script> -->
  <script>
    let groupDetails = []

    //to be edited by server when sent to client (contains group page name) 
    //NEEDS to be changed when javascript is moved to separate file!
    const groupName = 'groupNamePlaceholder'

    document.addEventListener('DOMContentLoaded', async () => {

      const response = await fetch(`/view/fetch-details:${groupName}`)
      groupDetails = await response.json()
      display(groupDetails)
    }, false)

    function display(groupDetails) {
      // console.log(groupDetails.groupN)
      const groupname = document.createElement('p')
      const name = document.createTextNode(`${groupDetails[0].groupName}`)
      const groupnameTitle = document.createTextNode('Group name: ')
      groupname.appendChild(groupnameTitle)
      groupname.appendChild(name)
      document.getElementsByTagName('body')[0].appendChild(groupname)

      const groupDescription = document.createElement('p')
      const description = document.createTextNode(`${groupDetails[0].groupDescription}`)
      const groupDescriptionTitle = document.createTextNode('Group description: ')
      groupDescription.appendChild(groupDescriptionTitle)
      groupDescription.appendChild(description)

      document.getElementsByTagName('body')[0].appendChild(groupDescription)

      const groupLocation = document.createElement('p')
      const location = document.createTextNode(`${groupDetails[0].generalLocation}`)
      const groupLocationTitle = document.createTextNode('Group location: ')
      groupLocation.appendChild(groupLocationTitle)
      groupLocation.appendChild(location)

      document.getElementsByTagName('body')[0].appendChild(groupLocation)
    }
  </script>

</head>

<body>

</body>

</html>