<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="img/icon2.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link href="groupPage.css" rel="stylesheet" />

    <title>View Group Info</title>
    <script defer src="groupPage.js"></script>
  </head>
  <body>
    <div class ="groupname">
      <h1>Group Name</h1>
    </div>

    <div class ="groupdesription">
      <h3>Description:</h3>
    </div>

    <div class = "container">
      <div class = "location">Location:
        <br/>
        <br/>
        <div class = "getlocation">
          
        </div>
      </div>
      <div class = "add">Add Member:
        <br/>
        <button>Add Member</button>
        <br/>
      </div>
      <div class = "date">Date Created:
        <br/>
        <br/>
        <div class = "getDate">
          
        </div>
      </div>
      <div class = "search">Search User:
        <br/>
        <button>Search</button>
        <br/>
      </div>
      <div class = "activities">Activities Completed:
        <br/>
        <br/>
        <div class = "getActivities">
        </div>
      </div>
    </div>
  </body>
</html>