<!DOCTYPE html>
<html>

<title> 
    Activities
</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/cdn/view_model/myActivities.js" ></script>
  
</head>

<body>
    <h3>Activities Log</h3>
    <ul id="myActivities">
    </ul>
</body>