<!DOCTYPE html>
<html>


<title> Group Search </title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/cdn/view_model/searchGroup.js" ></script>
  
</head>

<body>

  <h>   </h>
  <p>   </p>
  
<input type="text" id="search-text" placeholder="Search ..." value="" minlength="3" maxlength="20" pattern="[a-zA-Z'-'\s]*" onkeyup="searchFunction()"> <label for="type"> Search by :</label>

    <select name="studentAttributes" id="options">
        <option value="groupName"> Group Name </option>
        <option value="groupLocation">Group Location</option>
    </select>

  
</body>


</html>
